In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn import preprocessing
from sklearn import linear_model

In [4]:
df=pd.read_csv(r"C:\Users\yashv\Downloads\GOOGL.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,50.050049,52.082081,48.028027,50.220219,50.220219,44659096
1,2004-08-20,50.555557,54.594597,50.300301,54.209209,54.209209,22834343
2,2004-08-23,55.430431,56.796799,54.579578,54.754753,54.754753,18256126
3,2004-08-24,55.675674,55.855858,51.836838,52.487488,52.487488,15247337
4,2004-08-25,52.532532,54.054054,51.991993,53.053055,53.053055,9188602
...,...,...,...,...,...,...,...
4426,2022-03-18,2668.489990,2724.879883,2645.169922,2722.510010,2722.510010,2223100
4427,2022-03-21,2723.270020,2741.000000,2681.850098,2722.030029,2722.030029,1341600
4428,2022-03-22,2722.030029,2821.000000,2722.030029,2797.360107,2797.360107,1774800
4429,2022-03-23,2774.050049,2791.770020,2756.699951,2765.510010,2765.510010,1257700
4430,2022-03-24,2784.000000,2832.379883,2755.010010,2831.439941,2831.439941,1317900

In [5]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [6]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
LE=preprocessing.LabelEncoder()
df['Date']=LE.fit_transform(df['Date'])
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,0,50.050049,52.082081,48.028027,50.220219,50.220219,44659096
1,1,50.555557,54.594597,50.300301,54.209209,54.209209,22834343
2,2,55.430431,56.796799,54.579578,54.754753,54.754753,18256126
3,3,55.675674,55.855858,51.836838,52.487488,52.487488,15247337
4,4,52.532532,54.054054,51.991993,53.053055,53.053055,9188602
...,...,...,...,...,...,...,...
4426,4426,2668.489990,2724.879883,2645.169922,2722.510010,2722.510010,2223100
4427,4427,2723.270020,2741.000000,2681.850098,2722.030029,2722.030029,1341600
4428,4428,2722.030029,2821.000000,2722.030029,2797.360107,2797.360107,1774800
4429,4429,2774.050049,2791.770020,2756.699951,2765.510010,2765.510010,1257700
4430,4430,2784.000000,2832.379883,2755.010010,2831.439941,2831.439941,1317900

In [8]:
x=df[['Date','Open', 'High', 'Low', 'Close', 'Adj Close']]

In [9]:
y=df[['Volume']]
y

        Volume
0     44659096
1     22834343
2     18256126
3     15247337
4      9188602
...        ...
4426   2223100
4427   1341600
4428   1774800
4429   1257700
4430   1317900

[4431 rows x 1 columns]

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20)

In [11]:
xtrain.shape

(3544, 6)

In [12]:
xtest.shape

(887, 6)

In [13]:
ytrain.shape

(3544, 1)

In [14]:
ytest.shape

(887, 1)

In [15]:
LR=linear_model.LinearRegression()
LR.fit(xtrain,ytrain)
y_pred=LR.predict(xtest)
accuracy=r2_score(ytest,y_pred)
accuracy

0.5679281498456042

In [16]:
meanscore=mean_squared_error(ytest,y_pred)
meanscore

25367105036751.996

In [17]:
mae=mean_absolute_error(ytest,y_pred)
mae

3086037.8751523956